*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'poppins', sans-serif;
}
/* Navbar */
.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background-color:black;
    top:0;
    left:0;
    position:fixed;
    width:100%;
    height:50px;
    z-index:1000;
    backdrop-filter:blur(10px);
}
.logo{
    display:flex;
    align-items:center;
    color:white;
    font-size:1.5rem;
    font-weight:bold;
    cursor:pointer;
}
.dexLogo{
    height:auto;
    width:80px;
    object-fit:contain;
}
.nav-links{
    display:flex;
    list-style:none;
    cursor:pointer;
    margin-right:10px;
}

.nav-links li{
    margin-left:20px;
}
.menu-toggle{
    color:white;
    margin-right:10px;
    cursor:pointer;
    display:none;
}
.nav-links a{
    color:silver;
    text-decoration:none;
    font-size:1.0rem;
    position:relative;
}
.nav-links a::after{
    content:'';
    position:absolute;
    width:0%;
    height:2px;
    background-color:white;
    left:0;
    bottom:-6px;
    transition:0.4s;
}
.nav-links a:hover::after{
    width:100%;
}

@media screen and (max-width:500px){
    .nav-links{
        position:fixed;
        right:-100%;
        top:50px;
        height:100vh;
        width:100%;
        background-color: black;
        flex-direction:column;
        align-items:center;
        justify-content:center;
        transition:0.5s;
        margin-right: 0;
    }
    .nav-links li{
        margin:20px 0;
    }
    .menu-toggle{
        display:block;
    }
    .hero-content {
        margin-left:5px;
    }
} 
.nav-links.active{
    right:0;
}

/* Hero Sec */
.hero{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    position:relative;
    overflow:hidden;
}
.hero-video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index:0;
}
.hero-content h1{
    font-size:3rem;
    margin-bottom:10px;

      background: linear-gradient(
        45deg,
        #ffffff,
        #C0C0C0,
        #ffffff
    );
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animationHomePageBreathEffect 3s linear infinite;
}
@keyframes animationHomePageBreathEffect{
  0%{
    background-position: 0% 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0% 50%;
  }
}

.hero-content{
    z-index:2;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}
.hero-overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.55);
    z-index: 1;
}
.hero-content p{
    font-size:1.2rem;
    color:#d1d1d1;
    font-weight:700;
    margin-bottom:25px;
}

.btn{
    text-decoration:none;
    color:#111111;
    background-color:#FFFFFF;
    padding:8px 15px;
    border:1px solid #111111;
    border-radius:6px;
    font-weight:600;
    transition:0.4s;
}
.btn:hover{
    background-color:#111111;
    color:#FFFFFF;
    font-weight:700;
}
.scroll{
    position: absolute;
    bottom:10px;
    left:50%;

    transform: translateX(-50%);
    z-index: 2;

    font-size: 2rem;
    color: #FFFFFF;
    opacity:0.7;
    transition: opacity 0.3s ease-in-out;

    animation: scrollArrow 1.5s ease-in-out infinite;
    cursor: pointer;
}
.scroll:hover {
  opacity:1;
}
@keyframes scroll {

    0% {
        transform: translate(-50%, 0);
        opacity: 1;
    }

    50% {
        transform: translate(-50%, 10px);
        opacity: 0.5;
    }

    100% {
        transform: translate(-50%, 0);
        opacity: 1;
    }

}